<section id="form" class="form text-light py-5">
    <div class="w-75 mx-auto">
        <div class="text-center mx-auto">
            <h2 class="fw-bold fs-1">Bienvenido.</h2>
            <p class="pb-4 fs-4" id="textForm">*Ingresa todos los datos solicitados para registrar tu cuenta.</p>
        </div>


        {{>formRegistro}}

    </div>
</section>