<footer class="">
    <div class="bg-dark py-2">
        <p class="small p-5 text-light text-center mx-auto">Todos los derechos reservados <i class="bi bi-r-circle"></i> 2023</p>
    </div>
</footer>

